<mat-toolbar color="primary">
  <button mat-button routerLink="/">
    <mat-icon>account_balance</mat-icon>
    Blockchain
  </button>

  <ng-container *ngIf="userService.currentUser$ | async as user">
    <button mat-button routerLink="/contracts/new" *ngIf="user?.role === 'ANCHOR'">
      <mat-icon>add</mat-icon>
      Tạo hợp đồng
    </button>

    <button mat-button routerLink="/contracts/approve" *ngIf="user?.role === 'SUPPLIER'">
      <mat-icon>check_circle</mat-icon>
      Duyệt hợp đồng
    </button>

    <button mat-button routerLink="/contracts">
      <mat-icon>description</mat-icon>
      Danh sách hợp đồng
    </button>

    <span class="spacer"></span>

    <span class="username">{{user.username}}</span>

    <button mat-icon-button (click)="onLogout()">
      <mat-icon>exit_to_app</mat-icon>
    </button>
  </ng-container>
</mat-toolbar>